################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BtkAkademi.Web/wwwroot/Uploads/WhatsApp Image 2023-07-27 at 17.30.41.jpeg
